<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base th:href="${#request.getContextPath()}+'/'">
    <link rel="stylesheet" href="static/layui/css/layui.css"  media="all">
</head>
<style>
    .searchdiv{
        background: #fff;
        border-radius: 6px;margin-top: 10px;
        box-shadow: 1px 1px 3px rgba(0,0,0,.2);
        padding: 10px;
    }
    .layui-layer-shade{
        background-color:unset !important;
    }
</style>

<body style="background-color: #f3f3f4;">
    <div class="searchdiv">
        <form class="layui-form" id="searhFrom">
            <div class="layui-row layui-form-item">

                <div class="layui-col-xs3">
                    <label class="layui-form-label">场地：</label>
                    <div class="layui-input-block">
                        <input type="text" name="sname" placeholder="请输入场地名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs3" style="padding-left:20px; ">
                    <button type="button" class="layui-btn" id="btn_query">查询</button>
                </div>
            </div>
        </form>
    </div>

    <div class="searchdiv">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>


<script src="static/layui/layui.all.js" charset="utf-8"></script>
<script>

    !function(){
        var table = layui.table;
        var $ = layui.jquery,layer = layui.layer;
        var form = layui.form;


        //第一个实例
        var tableIns = table.render({
            elem: '#test'
            ,height: 500
            ,where: {}
            ,url: '/apply/list' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    {field: 'sdname', title: '场馆', fixed: 'center'},
                    {field: 'sname', title: '场地', fixed: 'center'},
                    {field: 'uname', title: '用户', fixed: 'center'},
                    {field: 'applyDate', title: '预约日期', fixed: 'center'},
                    {field: 'applyTime', title: '预约时间段', fixed: 'center'},
                    {field: 'status', title: '状态', fixed: 'center',
                        templet:function (d) {
                            if(d.status=='01'){
                                return '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs">已预约</button>';
                            }
                            if(d.status=='02'){
                                return '<button type="button" class="layui-btn layui-btn-warning layui-btn-xs">已取消</button>';
                            }
                            if(d.status=='03'){
                                return '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs">已过期</button>';
                            }
                        }
                    },
                    {field: 'createTime', title: '创建时间', fixed: 'center'},
                    {fixed: 'right', title:'操作', width:230,
                        templet:function (d) {
                            var type= '[[${session.type}]]';
                            if(type=="01"){
                                let del = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                                return del;
                            }else{
                                if(d.status=='01'){
                                    let quxiao = '<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="quxiao">取消预约</a>';
                                    let del = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                                    return quxiao+del;
                                }else{
                                    let del = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                                    return del;
                                }
                            }

                        }
                    }
                ]
            ]
        });

        /**
         * 查询按钮事件
         * **/
        $("#btn_query").click(function(){
            tableIns.reload({
                where:{
                    //对应查询条件
                    sname:$("input[name=sname]").val(),
                },page: {
                    curr: 1 //重新从第 1 页开始
                }
            })
        });

        /**
         * 监听表格操作
         *
         * **/
        var editwindow ;
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'quxiao') {
                top.layer.confirm('确定要取消预约吗', function (index) {
                    $.ajax({
                        url: "/apply/edit",
                        type: "post",
                        dataType: "json",
                        data: {"id": data.id, "status": "02"},
                        success: function (data) {
                            parent.layer.msg("取消成功");
                            if (data.ret) {
                                layer.close(editwindow);
                                tableIns.reload({
                                    where: {}
                                    , page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            }
                        }
                    });
                });
            }else if(obj.event === 'del'){
                top.layer.confirm('确定要删除吗', function(index){
                    $.ajax({
                        url:"/apply/del",
                        type:"post",
                        data:{id:data.id},
                        success:function(data){
                            if(data.ret){
                                obj.del();
                                parent.layer.close(index);
                                parent.layer.msg("删除成功!")
                            }
                        }
                    })

                });
            }
        });


    }();
</script>
</body>

</html>
