<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mty.stadium.mapper.ApplyMapper" >

    <resultMap id="BaseResultMap" type="com.mty.stadium.model.Apply">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="sid" jdbcType="VARCHAR" property="sid" />
        <result column="uid" jdbcType="VARCHAR" property="uid" />
        <result column="apply_date" jdbcType="VARCHAR" property="applyDate" />
        <result column="apply_time" jdbcType="VARCHAR" property="applyTime" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        sid,
        uid,
        apply_date,
        apply_time,
        status,
        create_time
    </sql>

    <!--条件查询-->
    <select id="selectByCondition" resultType="com.mty.stadium.model.Apply" parameterType="com.mty.stadium.model.Apply">
        SELECT
        a.id,
        a.sid,
        a.uid,
        a.apply_date applyDate,
        a.apply_time applyTime,
        a.status,
        a.create_time createTime,
        sd.name sdname,
        s.name sname,
        u.realname uname,
        u.type utype
        FROM apply a left join user u on a.uid = u.id left join sites s on a.sid = s.id left join stadium sd on s.sid = sd.id
        WHERE 1=1
        <if test="id != null and id != '' ">
            and a.id = #{id}
        </if>
        <if test="sid != null and sid != '' ">
            and a.sid = #{sid}
        </if>
        <if test="sname != null and sname != '' ">
            and s.name like concat(concat('%',#{sname}),'%')
        </if>
        <if test="uid != null and uid != '' ">
            and a.uid = #{uid}
        </if>
        <if test="applyDate != null and applyDate != '' ">
            and a.apply_date = #{applyDate}
        </if>
        <if test="applyTime != null and applyTime != '' ">
            and a.apply_time = #{applyTime}
        </if>
        <if test="status != null and status != '' ">
            and a.status = #{status}
        </if>
        <if test="createTime != null and createTime != '' ">
            and a.create_time = #{createTime}
        </if>
        order by a.create_time desc
    </select>


    <!--添加-->
    <insert id="addByCondition" parameterType="com.mty.stadium.model.Apply" keyProperty="id" useGeneratedKeys="true">
    insert into apply (
        sid,
        uid,
        apply_date,
        apply_time,
        status,
        create_time
    )values(
        #{sid},
        #{uid},
        #{applyDate},
        #{applyTime},
        #{status},
        #{createTime}
    )
    </insert>


    <!--根据id删除-->
    <delete id="deleteById" >
    delete from apply where id=#{id}
    </delete>


    <!--根据ID查询-->
    <select id="selectById" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from apply where id=#{id}
    </select>


    <!--修改-->
    <update id="updateById" parameterType="com.mty.stadium.model.Apply">
    update apply
    <set>
        <if test="sid != null and sid != '' ">
            sid = #{sid},
        </if>
        <if test="uid != null and uid != '' ">
            uid = #{uid},
        </if>
        <if test="applyDate != null and applyDate != '' ">
            apply_date = #{applyDate},
        </if>
        <if test="applyTime != null and applyTime != '' ">
            apply_time = #{applyTime},
        </if>
        <if test="status != null and status != '' ">
            status = #{status},
        </if>
        <if test="createTime != null and createTime != '' ">
            create_time = #{createTime},
        </if>
    </set>
    where id = #{id}
    </update>


    <!--查询全部-->
    <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from apply
    order by create_time desc
    </select>


    <!--按照Map条件查询-->
    <select id="queryFilter" resultType="com.mty.stadium.model.Apply" parameterType="map">
        SELECT
        a.id,
        a.sid,
        a.uid,
        a.apply_date applyDate,
        a.apply_time applyTime,
        a.status,
        a.create_time createTime,
        sd.name sdname,
        s.name sname,
        u.realname uname,
        u.type utype
        FROM apply a left join sites s on a.sid = s.id left join user u on a.uid = u.id left join stadium sd on s.sid = sd.id
        WHERE 1=1
        <if test="id != null and id != '' ">
            and a.id = #{id}
        </if>
        <if test="sid != null and sid != '' ">
            and a.sid = #{sid}
        </if>
        <if test="uid != null and uid != '' ">
            and a.uid = #{uid}
        </if>
        <if test="applyDate != null and applyDate != '' ">
            and a.apply_date = #{applyDate}
        </if>
        <if test="dingshi != null and dingshi != '' ">
            and a.apply_date &lt; #{dingshi}
        </if>
        <if test="applyTime != null and applyTime != '' ">
            and a.apply_time = #{applyTime}
        </if>
        <if test="status != null and status != '' ">
            and a.status = #{status}
        </if>
        <if test="createTime != null and createTime != '' ">
            and a.create_time = #{createTime}
        </if>
        <if test="time != null and time != '' ">
            and  a.create_time like concat(concat('%',#{time}),'%')
        </if>
        order by a.create_time desc
    </select>

</mapper>
